<img src = "https://www.bits-pilani.ac.in/Uploads/Campus/BITS_university_logo.gif">

<h1><center>Work Integrated Learning Programmes Division<br>
M.Tech (Data Science and Engineering)<br> Data Visualization And Interpretation (DSECL ZG555))<br>
Second Semester, 2025
</center></h1>

<h2><center>Assignment 2 â€“ PS8 [Weightage 13%]</center></h2>

<ol>
  <li>Do not change the name of the data file that is shared with the problem statement.</li>
  <li>If intermediate data files are created, retain in the present working directory and attach them during submission.</li>
  <li>Retain the data file in the same directory as that of this workbook.</li>
  <li>Retain the Visualizations that is produced in the file. Don't clear them away.</li>
     <li><div class="alert-warning">All the visuals should adhere to the visualization principles learnt in the Course and must be presentation ready. Most effective visuals would fetch maximum credits</div></li>    
    <li><div class="alert-warning">Submissions done via means other than Taxila will strictly be NOT graded.</div></li>
</ol>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<h2>Group No: 55</h2>

<table>
  <tr>
    <th>Full Name</th>
    <th>BITS ID</th>
  </tr>
  <tr>
    <td>ANITHA R</td>
    <td>2024DA04165</td>
  </tr>
  <tr>
    <td>MOHAMMED MUDASSIRULLAH SHERIFF</td>
    <td>2024DA04200</td>
  </tr>
  <tr>
    <td>SAI POOJA M S</td>
    <td>2024DA04202</td>
  </tr>
   <tr>
    <td>VINOTH TS</td>
    <td>2024DA04220</td>
  </tr>
</table>

<h3>Objective</h3>
<h4>Identify the features which have high impact on attrition</h4>

##  Download and Prep the Data: 1 Mark

Import the modules needed

In [21]:
import pandas as pd
import sys, os

Download the dataset and read it into a dataframe

In [22]:
dataset = 'dvi-a2-ps8-data.csv'
print("Current working directory:", os.getcwd())
df = pd.read_csv(dataset)

Current working directory: C:\Users\msf12\OneDrive - Sky\Documents\BITS\Semester 2\DVI\DVI_ASSIGNMENT2_PS8\DVI_ASSIGNMENT2_PS8\DVI_ASSIGNMENT2_PS8

First five items in the dataset.

In [23]:
pd.set_option('display.max_columns', None)
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,Gender,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,StandardHours,TotalWorkingYears,YearsAtCompany,YearsInCurrentRole,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,College,Life Sciences,1,Female,Sales Executive,Very High,Single,5993,8,Yes,11,Excellent,80,8,6,4,5
1,49,No,Travel_Frequently,279,Research & Development,8,Below College,Life Sciences,2,Male,Research Scientist,Medium,Married,5130,1,No,23,Outstanding,80,10,10,7,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,College,Other,4,Male,Laboratory Technician,High,Single,2090,6,Yes,15,Excellent,80,7,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,Master,Life Sciences,5,Female,Research Scientist,High,Married,2909,1,Yes,11,Excellent,80,8,8,7,0
4,27,No,Travel_Rarely,591,Research & Development,2,Below College,Medical,7,Male,Laboratory Technician,Medium,Married,3468,9,No,12,Excellent,80,6,2,2,2

Find out how many entries there are in the dataset.

In [24]:
rows, columns = df.shape
print(f"Number of rows: {rows}, Number of columns: {columns}")

Number of rows: 1470, Number of columns: 23

Clean up data. <br>
Remove unnecessary columns. Mention the reasons.<br>
Show the data.

In [53]:
# Check for data types
df.info()
print("\n")

# Describe the dataset for numerical fields
numerical_description = df.describe()
print("Numerical fields description:")
print(numerical_description)
print("\n")

# describe the dataset for other fields
categorical_description = df.describe(include=['object'])
print("Categorical fields description:")
print(categorical_description)
print("\n")

#Check for null/missing values
missing_values = df.isna().sum()
if missing_values.any():
    print("Missing values in each column:")
    print(missing_values)
else:
    print("No missing values found in the dataset.")
print("\n")

# Check for duplicate rows
duplicate_rows = df.duplicated().sum()
if duplicate_rows > 0:
    print(f"Duplicate rows found: {duplicate_rows}")
else:
    print("No duplicate rows found in the dataset.")
print("\n")

# Check for unique values in each column
unique_values = {col: df[col].nunique() for col in df.columns}
print("Unique values in each column:")
for col, count in unique_values.items():
    print(f"{col}: {count} unique values")

print("\n")

# Outlier detection using IQR
for column in df.select_dtypes(include=['float64', 'int64']).columns:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)][column]
    if not outliers.empty:
        print(f"{column}: {len(outliers.tolist())} \n Lower bound: {lower_bound} \n Upper bound: {upper_bound} \n outliers: {', '.join(map(str, sorted(set(outliers.tolist()))))}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   1470 non-null   int64
 1   Attrition             1470 non-null   object
 2   BusinessTravel        1470 non-null   object
 3   DailyRate             1470 non-null   int64
 4   Department            1470 non-null   object
 5   DistanceFromHome      1470 non-null   int64
 6   Education             1470 non-null   object
 7   EducationField        1470 non-null   object
 8   EmployeeNumber        1470 non-null   int64
 9   Gender                1470 non-null   object
 10  JobRole               1470 non-null   object
 11  JobSatisfaction       1470 non-null   object
 12  MaritalStatus         1470 non-null   object
 13  MonthlyIncome         1470 non-null   int64
 14  NumCompaniesWorked    1470 non-null   int64
 15  OverTime              1470 non-null   object
 16  PercentSalaryHike     1470 non-null   int64
 17  PerformanceRating     1470 non-null   object
 18  StandardHours         1470 non-null   int64
 19  TotalWorkingYears     1470 non-null   int64
 20  YearsAtCompany        1470 non-null   int64
 21  YearsInCurrentRole    1470 non-null   int64
 22  YearsWithCurrManager  1470 non-null   int64
dtypes: int64(12), object(11)
memory usage: 264.3+ KB


Numerical fields description:
               Age    DailyRate  DistanceFromHome  EmployeeNumber  \
count  1470.000000  1470.000000       1470.000000     1470.000000
mean     36.923810   802.485714          9.192517     1024.865306
std       9.135373   403.509100          8.106864      602.024335
min      18.000000   102.000000          1.000000        1.000000
25%      30.000000   465.000000          2.000000      491.250000
50%      36.000000   802.000000          7.000000     1020.500000
75%      43.000000  1157.000000         14.000000     1555.750000
max      60.000000  1499.000000         29.000000     2068.000000

       MonthlyIncome  NumCompaniesWorked  PercentSalaryHike  StandardHours  \
count    1470.000000         1470.000000        1470.000000         1470.0
mean     6502.931293            2.693197          15.209524           80.0
std      4707.956783            2.498009           3.659938            0.0
min      1009.000000            0.000000          11.000000           80.0
25%      2911.000000            1.000000          12.000000           80.0
50%      4919.000000            2.000000          14.000000           80.0
75%      8379.000000            4.000000          18.000000           80.0
max     19999.000000            9.000000          25.000000           80.0

       TotalWorkingYears  YearsAtCompany  YearsInCurrentRole  \
count        1470.000000     1470.000000         1470.000000
mean           11.279592        7.008163            4.229252
std             7.780782        6.126525            3.623137
min             0.000000        0.000000            0.000000
25%             6.000000        3.000000            2.000000
50%            10.000000        5.000000            3.000000
75%            15.000000        9.000000            7.000000
max            40.000000       40.000000           18.000000

       YearsWithCurrManager
count           1470.000000
mean               4.123129
std                3.568136
min                0.000000
25%                2.000000
50%                3.000000
75%                7.000000
max               17.000000


Categorical fields description:
       Attrition BusinessTravel              Department Education  \
count       1470           1470                    1470      1470
unique         2              3                       3         5
top           No  Travel_Rarely  Research & Development  Bachelor
freq        1233           1043                     961       572

       EducationField Gender          JobRole JobSatisfaction MaritalStatus  \
count            1470   1470             1470            1470          1470
unique              6      2                9               4             3
top     Life Sciences   Male  Sales Executive       Very High       Married
freq              606    882              326             459           673

       OverTime PerformanceRating
count      1470              1470
unique        2                 2
top          No         Excellent
freq       1054              1244


No missing values found in the dataset.


No duplicate rows found in the dataset.


Unique values in each column:
Age: 43 unique values
Attrition: 2 unique values
BusinessTravel: 3 unique values
DailyRate: 886 unique values
Department: 3 unique values
DistanceFromHome: 29 unique values
Education: 5 unique values
EducationField: 6 unique values
EmployeeNumber: 1470 unique values
Gender: 2 unique values
JobRole: 9 unique values
JobSatisfaction: 4 unique values
MaritalStatus: 3 unique values
MonthlyIncome: 1349 unique values
NumCompaniesWorked: 10 unique values
OverTime: 2 unique values
PercentSalaryHike: 15 unique values
PerformanceRating: 2 unique values
StandardHours: 1 unique values
TotalWorkingYears: 40 unique values
YearsAtCompany: 37 unique values
YearsInCurrentRole: 19 unique values
YearsWithCurrManager: 18 unique values


MonthlyIncome: 114
 Lower bound: -5291.0
 Upper bound: 16581.0
 outliers: 16595, 16598, 16606, 16627, 16659, 16704, 16752, 16756, 16792, 16799, 16823, 16835, 16856, 16872, 16880, 16885, 16959, 17007, 17046, 17048, 17068, 17099, 17123, 17159, 17169, 17174, 17181, 17328, 17399, 17426, 17444, 17465, 17567, 17584, 17603, 17639, 17650, 17665, 17779, 17856, 17861, 17875, 17924, 18041, 18061, 18172, 18200, 18213, 18265, 18300, 18303, 18430, 18606, 18665, 18711, 18722, 18740, 18789, 18824, 18844, 18880, 18947, 19033, 19038, 19045, 19049, 19068, 19081, 19094, 19141, 19144, 19161, 19187, 19189, 19190, 19197, 19202, 19232, 19237, 19246, 19272, 19328, 19331, 19392, 19406, 19419, 19431, 19436, 19502, 19513, 19517, 19537, 19545, 19566, 19586, 19613, 19626, 19627, 19636, 19658, 19665, 19701, 19717, 19740, 19833, 19845, 19847, 19859, 19926, 19943, 19973, 19999
NumCompaniesWorked: 52
 Lower bound: -3.5
 Upper bound: 8.5
 outliers: 9
TotalWorkingYears: 63
 Lower bound: -7.5
 Upper bound: 28.5
 outliers: 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40
YearsAtCompany: 104
 Lower bound: -6.0
 Upper bound: 18.0
 outliers: 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 36, 37, 40
YearsInCurrentRole: 21
 Lower bound: -5.5
 Upper bound: 14.5
 outliers: 15, 16, 17, 18
YearsWithCurrManager: 14
 Lower bound: -5.5
 Upper bound: 14.5
 outliers: 15, 16, 17

# Visualisation Questions - 2 X 5 = 10 Marks

### Question 1
<h4>Find the correlation between all numerical features.<br><br>
    Write the python code in the below cell to create appropriate visual to perform the above task.
    <h4>Answer in markdown cells below the visual <br><br>
        1.Summarise your findings from the visual.<br>
            2.The reason for selecting the chart type you did <br>
                3.Mention the pre-attentive attributes used.(atleast 2)<br>
                    4.Mention the gestalt principles used.(atleast 2)<br>

### Question 2
<h4>Find the distribution of age in the dataset. Identify which age group is most prone to attrition.<br>

Write the python code in the below cell to create the appropriate visual to perform the above task .
<h4>Answer in markdown cells below the visual <br><br>
    1.Summarise your findings from the visual.<br>
    2.The reason for selecting the chart type you did <br>
    3.Mention the pre-attentive attributes used.(atleast 2)<br>
    4.Mention the gestalt principles used.(atleast 2)<br>

### Question 3
<h4>Analyse the departmentwise attrition rate.<br>

Write the python code in the below cell to create the appropriate visual to perform the above task .
<h4>Answer in markdown cells below the visual <br><br>
    1.Summarise your findings from the visual.<br>
    2.The reason for selecting the chart type you did <br>
    3.Mention the pre-attentive attributes used.(atleast 2)<br>
    4.Mention the gestalt principles used.(atleast 2)<br>

### Question 4
<h4>Identify the top 5 job roles with highest attrition rate.<br>

Write the python code in the below cell to create the appropriate visual to perform the above task .
<h4>Answer in markdown cells below the visual <br><br>
    1.Summarise your findings from the visual.<br>
    2.The reason for selecting the chart type you did <br>
    3.Mention the pre-attentive attributes used.(atleast 2)<br>
    4.Mention the gestalt principles used.(atleast 2)<br>

### Question 5
<h3> Multivariate analysis
<h4>Identify the top 2 highly correlated features.Analyse(use a single visual), how they relate to "number of years in the company" and their combined effect on attrition.<br>
    
Write the python code in the below cell to create the appropriate visual to perform the above task .
<h4>Answer in markdown cells below the visual <br><br>
    1.Summarise your findings from the visual.<br>
    2.The reason for selecting the chart type you did <br>
    3.Mention the pre-attentive attributes used.(atleast 2)<br>
    4.Mention the gestalt principles used.(atleast 2)<br>

# Group's choice-2 Marks
 
#### Frame 1 (more) question which will help in the EDA(Exploratory Data Analysis) of the given data set and answer the same using the best visual.
 
 1. Write the question in a markdown cell
 2. Below the question,in a coding cell,write the python code to create the visual to answer the question  

<h4> Answer in markdown cells below the visual <br><br>
   1.Summarise your findings from the visual.<br>
   2.The reason for selecting the chart type you did <br>
   3.Mention the pre-attentive attributes used.(atleast 2)<br>
   4.Mention the gestalt principles used.(atleast 2)<br>

<h1><center> ************ END OF ASSIGNMENT ****************</center></h1>